@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game {
    height: 90vh;
    width: 90%;

    margin: 0.5em;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Source Sans Pro", sans-serif;

    &__heading {
        height: 5vh;
        margin: 0.5em;
        text-align: center;
    }

    &__description {
        height: 10vh;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    &__board {
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 6em 1em 1em;
        display: grid;
        grid: repeat(5, 1fr) / repeat(5, 1fr);
        gap: 0.25em;
        justify-content: center;
        align-items: center;
    }

    &__blocks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__disc {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5em;
        width: 5em;
        background-color: red;
        border-radius: 50%;
    }
}
