

$font-primary: "Source Sans Pro", sans-serif;

$color-primary-background: #323031;
$colour-primary-columns: #C1BDB3 ;
$colour-primary-blocks: #7F7979 ;
$color-primary-button: #5F5B6B;

$color-primary-player: red;
$color-primary-computer: green;

$color-primary-heading: white;
$color-primary-font: white;

$color-primary-border: #3D3B3C;

$size-hundred-percent: 100%;
$size-border-thickness: 0.5px;
