@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.game__blocks {
    height: $size-hundred-percent;
    width: $size-hundred-percent;

    @include centerSelfRow;
    @include addStdBorder;

    background-color: $colour-primary-blocks;
}