@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.game__computer-disc {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 5em;
    background-color: green;
    border-radius: 50%;
}
