@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.game__description {
    height: 20vh;
    width: 40%;
    width: $size-hundred-percent;
    text-align: center;
    @include centerSelfRowEvenly();
    

    color: $color-primary-font;
}
